body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#container {
  width: 960px;
  height: 640px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}

.square {
  background-color: black;
  border: 1px solid #ccc;
  opacity: 0.1;
  transition: opacity 0.2s;
}
